<%@ page contentType="application/json; encoding=UTF-8" %>
{"securityMessage":"If you are seeing this you have not set the document root to the correct path.  Using this as root compromises security.  Please reconfigure so that /auth is the document root."}